body{
    margin: 100;
    margin-top: 8;
    background:url(Programacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background-size: cover;
    color: rgb(224, 211, 20);
    font-size: 20px;
    font-weight: 100;
    font-family: cursive;
}
